.custom-container {
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
.navbar {
    position: absolute;
    z-index: 9;
}
#main-content > .row {
    margin: 0;
    padding: 15px;
}
.card {
    margin-bottom: 15px;
}
.carousel-control-prev > img,
.carousel-control-next > img {    
    height: 15px;
    width: 15px;
}

.carousel-control-prev {
    margin-left: -35px;
}
.carousel-control-next {
    margin-right: -35px;
}
/* .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */